body {
    background-color: #3E4551;
}

.success {
    background-color: #00C851;
}

.warning {
    background-color: #ffbb33;
}

h1 {
    text-align: center;
}

.tabs {
    float: left;
    border: 2px solid white;
    background-color: #1C2331;
    height: 100vh;
    color: white;
}

.tabs button {
    display: block;
    background-color: inherit;
    color: white;
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.tabs button:hover {
    background-color: #232b2b;
    color: white;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.openInput {
    margin-top: 20px;
    margin-bottom: 20px;
}